.head{
    position: absolute;
    color:rgb(240, 239, 223);
    bottom: 85%;
    left:25%;
    font-size: 6em;
    font-family: futura;
}

#backG{
    width: 100%;
    
}
.container{
    width: 100%;
    position: relative;
    
    color: white;
}

#c1{
    position: absolute;
    top: 21%;
    left: -2%;
    text-align: center;
    color: black;
    
}

#c2{
    position: absolute;
    top: 21%;
    text-align: center;
    color: black;
    left: 5%;
}
#c3{
    position: absolute;
    top: 21%;
    text-align: center;
    color: black;
    right: 10%;
}
#c4{
    position: absolute;
    top: 21%;
    text-align: center;
    color: black;
    left: 73%;
    
}

#houseInfo{
    font-size: 60px;
    font-family: cursive;
    position: absolute;
    top: 20%;
    left: 41%;
}

#houseInfoP{
    font-size: 30px;
    font-family: cursive;
    position: absolute;
    top: 30%;
    left: 37%;
    height: 65%;;
    width: 25%;
}
