<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>

    <% include ./partials/template/navbar.ejs %>
    <div class='row'>   
    <form class='col-4 offset-1' id='feedbackForm'>
            <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input name="name" type="name" class="form-control formInput" id="name" aria-describedby="emailHelp" placeholder="Enter name">
                <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Favorite drummer from this site</label>
            <select id='faveDrum' class="custom-select my-1 mr-sm-2" id="faveDrum">
                    <option selected>Choose...</option>
                    <% dataFile.drummers.forEach(function(e){ %>
                    <option value="<%= e.index %>"><%= e.name %></option>
                    <% }) %>}
            </select>
           
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Leave a comment</label>
                <textarea name='formText' class="form-control" id="formText" rows="3"></textarea>
            </div>
            <button type="submit" class="subButt" btn btn-primary my-1">Submit</button>

    </form>

    <aside class="recentFeedback col-4 offset-1">
            <div class="maincontent feedback">
                <h2 class="article-title">Recent Feedback</h2>
                results
                <div class="feedback-messages">
                    
  
                </div>
            </div>
          </aside><!-- secondary -->
    </div> 
  
        <% include partials/template/jsdefaults.ejs %>
    <% include ./partials/template/footer.ejs %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>