.header{
    background-color: grey;
    padding: 30px;
    text-align: center;
    color: white;
}

.sidebar{
    background-color: rgba(185, 37, 37, 0.699);
    padding-top: 200px;
    padding-bottom: 500px;
    padding-right: 200px;
    padding-left: 200px;
    width: 100px;
    text-align: center;


}

.main{
    background-color: rgba(128, 128, 128, 0.644);
    float: right;
    padding-top: 200px;
    padding-bottom: 500px;
    padding-right: 510px;
    padding-left: 510px;
    width: 100px;
    margin-top: -718px;
    text-align: center;

    
}

.footer{
    background-color: grey;
    padding: 30px;
    text-align: center;
    color: white;
    margin-top: 0px;
}