

h1, h2, ul {
    font-family: futura;
}

/* li {
    margin-bottom: 10%;
} */

/* ul{
    list-style: none;
} */

h2{
    color: purple;
}



.drummers{
    font-size: 45px;
    text-align: center;
    margin-top: 2%;
}

.mainPic{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.card{
   
    -webkit-box-shadow: 11px 13px 28px 0px rgba(97,97,97,1);
    -moz-box-shadow: 11px 13px 28px 0px rgba(97,97,97,1);
    box-shadow: 11px 13px 28px 0px rgba(97,97,97,1);
    margin: 1%;
}


.cardDiv{
   margin-top: 2%;
    
}

.indImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 11px 13px 28px 0px rgba(97,97,97,1);
    -moz-box-shadow: 11px 13px 28px 0px rgba(97,97,97,1);
    box-shadow: 11px 13px 28px 0px rgba(97,97,97,1);
}

.drummerName{
    margin-top: 2%;
    text-align: center;
}

.foot{
    background-color: #dadada;
}

.wacko{
    margin-top: 5%;
}
.nodemon{
    color: #dadada;
}

.footmain{
    margin-top: 4%;
}

.jumbotron{
    position: absolute;
    z-index: 10;
    background-color:rgba(199, 199, 199, 0.7) !important;
    left: 20%;
    top: 30%;
    font-family: futura;
}

nonOp{
    color: white;
}

#feedbackForm{
    margin-top: 5%;
}
.recentFeedback{
    margin-top: 5%;
    border: solid black;
}

.formInput{

}

.blackground{
    background-color: black;
    width: 100%;
    height: 800px;;
    border: solid black;
    position: relative;
}
.nodemonPic{
    margin-top: 5%;
    -webkit-animation: fadein 8s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.praise{
    position: absolute;
    width: 110%;
    -webkit-animation: fadein 8s;
}

#deleteButton{
    margin-right: 2%;
}

#chatButton{
    margin-right: .5%;
}
